<div class="container">
    <div class="text">
        <h1>{{ balance }}$</h1>
        <p>Balance</p>
    </div>
    <apx-chart
        *ngIf="chartInit"
        #chartspark3
        [series]="chartAreaSparkline3Options.series"
        [chart]="commonAreaSparlineOptions.chart"
        [stroke]="commonAreaSparlineOptions.stroke"
        [yaxis]="commonAreaSparlineOptions.yaxis"
        [xaxis]="chartAreaSparkline3Options.xaxis"
        [fill]="commonAreaSparlineOptions.fill"
    ></apx-chart>
    <h1 class="header">Daily expenses</h1>
</div>
