<div class="navbar-container">
    <div></div>
    <div class="buttons">
        <div class="button-container">
            <button class="nav-button" routerLinkActive="nav-button--active" routerLink="summary">
                <mat-icon color="primary">dashboard</mat-icon>
            </button>
            <h2>Dashboard</h2>
        </div>
        <div class="button-container">
            <button class="nav-button" routerLinkActive="nav-button--active" routerLink="history">
                <mat-icon color="primary">history</mat-icon>
            </button>
            <h2>History</h2>
        </div>
        <div class="button-container">
            <button class="nav-button" routerLinkActive="nav-button--active" routerLink="charts">
                <mat-icon color="primary">bar_chart</mat-icon>
            </button>
            <h2>Charts</h2>
        </div>
    </div>
    <div class="button-container">
        <button class="nav-button" (click)="signOut()">
            <mat-icon color="primary">logout</mat-icon>
        </button>
        <h2 class="profile-name">Sign out</h2>
    </div>
</div>
