<div class="container">

    <div class="grid-container">
        <div class="header">
            <app-header></app-header>
        </div>
        <div class="voice-assistant">
            d
        </div>
        <div class="card1">
            e
        </div>
        <div class="card2">
            f
        </div>
        <div class="chart">
            g
        </div>
        <div class="plant">
            <img src="assets/images/plant.svg">
        </div>
    </div>

    <div class="transaction-container">
        <div class="add-transaction">
            b
        </div>
        <div class="recent-transactions">
            c
        </div>
    </div>

</div>