<div class="container">
    <div class="image">
        <img src="assets/images/voiceAssistant.svg">
    </div>
    <div class="content">
        <div class="text">
            <h1>Hi, I'm your <b>Voice Assistant</b></h1>
            <p>Try some simple commands, like <b>Add 10$ in Income</b> or <b>Go to Graphs</b></p>
        </div>
        <div class="voice-actions">
            <button mat-raised-button color="primary">
                <mat-icon>micro</mat-icon>
            </button>
            <p>Your commands are shown here</p>
        </div>
    </div>
</div>