<div class="container">
    <h1>Transaction details</h1>
    <form class="form-container" [formGroup]="transactionForm" (ngSubmit)="updateTransaction()">
        <mat-form-field class="title">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
                <mat-option value="income">Income</mat-option>
                <mat-option value="expense">Expense</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select formControlName="category">
                <ng-container *ngIf="transactionForm.value.type === 'income'">
                    <mat-option *ngFor="let category of incomeCategories" value="{{ category.id }}"
                        >{{ category.value.icon }} {{ category.value.name }}</mat-option
                    >
                </ng-container>
                <ng-container *ngIf="transactionForm.value.type === 'expense'">
                    <mat-option *ngFor="let category of expenseCategories" value="{{ category.id }}"
                        >{{ category.value.icon }} {{ category.value.name }}</mat-option
                    >
                </ng-container>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput type="date" formControlName="date" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>Amount</mat-label>
            <input matInput type="number" formControlName="amount" />
        </mat-form-field>
        <mat-form-field class="description">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description"></textarea>
        </mat-form-field>
        <button mat-raised-button color="primary" class="submit-button">Edit</button>
    </form>
</div>
